body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header select {
    font-size: 1.5em;
    padding: 5px 10px;
}

header img {
    height: 100px;
}

.separator {
    height: 5px;
    background-color: orange;
    margin: 0;
}

main {
    display: flex;
    height: calc(100vh - 100px);
}

.current-status {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#status-box {
    width: 80%;
    text-align: center;
    font-size: 5em;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.status.occupee {
    background-color: #d9534f; 
}

.status.libre {
    background-color: #5cb85c; 
}

.event-info {
    text-align: center;
}

.event-info h2 {
    font-size: 1.8em;
    text-decoration: underline;
    margin-bottom: 10px;
}

.event-info h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.event-info p {
    font-size: 1.2em;
    margin: 0;
}

.current-time {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    font-weight: bold;
}

.vertical-separator {
    width: 5px;
    background-color: orange;
}

.next-events {
    flex: 1;
    padding: 20px;
}

.next-events h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#event-list {
    list-style: none;
    padding: 0;
}

#event-list li {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
#room-select {
    border: none;
    background: transparent;
    appearance: none;
    font-size: 3em;
}