/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables pour les couleurs */
:root {
  --eh-green: #27955a;
  --eh-red: #d4583b;
  --eh-gray: #414141;
  --eh-white: #f4f4f8;
  --main-color: var(--main-color-pga);
}

* {
  font-family: "Inter", sans-serif;

  /* Désactivation de la sélection du texte (différents navigateurs) */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style général pour les titres et textes */
h1,
h2,
p {
  color: var(--eh-gray);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

p,
marquee {
  font-size: 1.5rem;
}

/* Corps de la page */
body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: var(--eh-white);
}

/* Header de la page */
.header .header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .selector-info {
  align-items: center;
  display: flex;
}

.header .header-info img {
  width: 200px;
  height: 120px;
}

.header .line {
  border-bottom: 7px solid var(--main-color);
  width: 100%;
}

.header .selector #calendar-select {
  border: none;
  background: transparent;
  appearance: none;
  font-size: 3em;
  font-weight: 500;
  color: var(--eh-gray);
}

/* Bas de la page */
.bottom {
  display: flex;
  font-size: 1.125rem;
}

/* Côté gauche de la page avec l'information de l'événement en grand */
.bottom .main {
  width: 62.5%;
}

.bottom .main #status {
  color: var(--eh-white);
  font-size: 4rem;
  padding: 20px 20px 20px 30px;
}

.bottom .main .info-main h2 {
  font-size: 4rem;
  margin: 0px 0px 30px 0px;
}

.bottom .main .info-main p {
  font-size: 3rem;
  width: 80%;
  max-width: 670px;
  line-height: 70px;
  margin: auto;
  display: block;
}

.bottom .main .info-main .first-event img {
  width: 40px;
  padding-right: 10px;
}

.libre {
  background-color: var(--eh-green);
}

.occupee {
  background-color: var(--eh-red);
}

.bottom .main .info-main {
  text-align: center;
}

/* Séparation entre le côté gauche et droit de la page */
.bottom .middle {
  width: 2.5%;
}

.bottom .middle .line {
  height: 100%;
  margin: 70%;
  border-left: 7px solid var(--main-color);
}

/* Côté droite de la page avec les événements écrits en plus petit */
.bottom .events {
  width: 35%;
  text-align: center;
}

.bottom .events h2 {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.bottom .events .event {
  padding: 2.5px 20px;
  margin: 10px;
  font-weight: 100;
  background-color: var(--main-color);
  border-radius: 15px;
}

.bottom .events .event marquee {
  color: var(--eh-white);
  font-weight: bold;
}

.bottom .events .event .summary-event {
  width: 100%;
  align-self: center;
}

.bottom .events .event .event-info {
  width: 100%;
  align-self: center;
  display: flex;
  color: var(--eh-white);
}

.bottom .events .event .event-info img {
  width: 35px;
  height: 35px;
  padding: 10px;
  max-width: 55px;
  max-height: 55px;
}

.bottom .events .event p {
  text-align: left;
  font-weight: bold;
  color: var(--eh-white);
  margin: 20px 0px;
  margin: 12px;
  white-space: normal;
  word-break: break-word;
}

/* Style des icônes à côté des informations de l'événement */
.bottom .events .event img {
  width: 25px;
  padding-right: 10px;
}

/* Style de l'heure affichée en haut à droite */
#clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styla barre de progression */
.progress-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
}

.progress-logo {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-logo img {
  width: 100%;
  height: auto;
}

.progress-container {
  flex-grow: 1;
  background-color: #ccc;
  border-radius: 8px;
  overflow: hidden;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  align-items: center;
}

#progress-bar {
  height: 30px;
  width: 0%;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  transition: width 1s ease-in-out;
}
